<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="dependencies/orders.css">
    <title>Orders</title>
</head>
<body>


<a href="map.html">Edit Map</a>
<div class="container-fluid">
    <img class="logo img-responsive" src="dependencies/img/logo.png">
    <div class="mainform">
    <input class="form-control" id="address-input" type="text" placeholder="First enter your address">
    <div class="buttonblocks">
        <button class="btn btn-primary btn-lg btn-block pickupbutton">Pickup</button>
        <button class="btn btn-danger btn-lg btn-block deliverybutton" disabled>Delivery</button>
    </div>
    <div id="result"></div>
    <!--modal-->
    <div class="modal fade" id="myModal" ng-app="orderapp" ng-controller="onlineorder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <ul ng-repeat="(category, items) in menu">
                        {{category}}:
                        <ul ng-repeat="(item, others) in items">
                            {{item}}:
                            <ul ng-repeat="(key, value) in others">
                                <ul>{{key}}: {{value}}</ul>
                            </ul>
                        </ul>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=drawing,places,geometry"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="dependencies/controllers/ordercontroller.js"></script>
<script src="dependencies/orders.js"></script>
</body>
</html>
