<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="dependencies/orders.css">
    <title>Orders</title>
</head>
<body>


<a href="map.html">Edit Map</a>
<div class="container-fluid beginnerform">
    <img class="logo img-responsive" src="dependencies/img/logo.png">
    <div class="mainform">
    <input class="form-control" id="address-input" type="text" placeholder="First enter your address">
    <div class="buttonblocks">
        <button class="btn btn-primary btn-lg btn-block pickupbutton">Pickup</button>
        <button class="btn btn-danger btn-lg btn-block deliverybutton" disabled>Delivery</button>
    </div>
    <div id="result"></div>
    <!--modal-->
    <div class="modal fade" id="myModal" ng-app="orderapp" ng-controller="onlineorder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Lanesplitter</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#/pizza">Pizza</a></li>
                                <li><a href="#/saladsticks">Salads & Sticks</a></li>
                                <li><a href="#/calzones">Calzones</a></li>
                                <li><a href="#/lasagnabakes">Bakes</a></li>
                                <li><a href="#/drinks">Drinks</a></li>
                                <li><a href="#/extras">Extras</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                </div>
                <div class="modal-body container-fluid">

                    <div class="row">
                        <div class="col-md-8" ng-view>
                        </div>
                        <div class="col-md-4">
                            <div id="receipt">
                                <h3>Order List</h3>
                                <table class="table">
                                    <tr>
                                        <th>Item</th>
                                        <th>Addons</th>
                                        <th class="text-right">Price</th>
                                    </tr>
                                    <tr ng-repeat="items in orderitems track by $index">
                                        <td class="receiptitems">{{items.item}}</td>
                                        <td class="receiptaddons">{{items.addons}}</td>
                                        <td class="text-right">{{items.price | currency}}</td>
                                    </tr>
                                </table>
                                <h4 class="text-right"><small>+ 9.00% tax and $2.99 delivery charge*</small></h4>
                                <h1 class="text-right">{{total() | currency}}</h1>
                                <p class="text-right"><a href="" ng-click="orderitems=[]">reset</a></p>
                                <button class="btn btn-primary btn-block">checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=drawing,places,geometry"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="dependencies/controllers/ordercontroller.js"></script>
<script src="dependencies/controllers/pizzacontroller.js"></script>
<script src="dependencies/controllers/saladcontroller.js"></script>
<script src="dependencies/orders.js"></script>
</body>
</html>
