<div ng-app="usersApp">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <h4 class="modal-title" ng-hide="checked">Log in</h4>
        <h4 class="modal-title" ng-show="checked">Register</h4>
    </div>
    <div class="modal-body">
        <form ng-hide="checked" ng-controller="logInController">
            <div class="error">{{errorMessage}}</div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="user" class="form-control" ng-model="userName" id="username" required placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" ng-model="password" id="password" required placeholder="Password">
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Remember me
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
        </form>
        <form ng-if="checked" name="register" ng-controller="registrationController" ng-submit="reg()" novalidate>
            <div class="form-group">
                <label for="username">Username: </label>
                <span class="error" ng-show="register.FormUsername.$error.required">(Required)</span>
                <span class="error" ng-show="register.FormUsername.$error.minlength">Too short</span>
                <span class="error" ng-show="register.FormUsername.$error.checkIt">Username exist, please choose another one.</span>
                <input type="text" class="form-control" ng-model="userName" name="FormUsername"
                       required ng-minlength="5" placeholder="Enter your desired username" check-database>
            </div>
            <div class="form-group">
                <label for="email">Email: </label>
                <span class="error" ng-show="register.FormEmail.$error.required">(Required)</span>
                <span class="error" ng-show="register.FormEmail.$error.email">This is not an invalid email</span>
                <span class="error" ng-show="register.FormEmail.$error.checkIt">Email exist, please choose another one.</span>
                <input type="email" class="form-control" ng-model="email" name="FormEmail" required id="email" placeholder="Email" check-database>
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <span class="error" ng-show="register.FormPassword.$error.required">(Required)</span>
                <input type="password" class="form-control" ng-model="password" name="FormPassword"
                       required placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm your password:</label>
                <span class="error" ng-show="register.FormConfirmPW.$error.pwMatch">Password didn't match</span>
                <input type="password" class="form-control" ng-model="confirmpass" id="confirmpassword"
                       name="FormConfirmPW" placeholder="Confirm password" pw-confirm="password">
            </div>
            <div class="form-group">
                <label for="firstname">First Name: </label>
                <span class="error" ng-show="register.FormFirstName.$error.required">(Required)</span>
                <input type="text" class="form-control" ng-model="first_name" id="firstname" name="FormFirstName" required placeholder="First name">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" class="form-control" ng-model="last_name" id="lastname" placeholder="Last name">
            </div>
            <div class="form-group">
                <label for="business_name">Business Name: </label>
                <span class="error" ng-show="register.FormBusinessName.$error.required">(Required)</span>
                <input type="text" class="form-control" ng-model="business_name" id="business_name" name="FormBusinessName" required placeholder="Business name">
            </div>
            <div class="form-group">
                <label for="business_address">Business Address: </label>
                <span class="error" ng-show="register.FormBusinessAddress.$error.required">(Required)</span>
                <input type="text" class="form-control" ng-model="business_address" id="business_address" name="FormBusinessAddress" required placeholder="Business Address">
            </div>
            <div class="form-group">
                <label for="business_phone">Business Phone Number: </label>
                <span class="error" ng-show="register.FormBusinessPhone.$error.required">(Required)</span>
                <input type="text" class="form-control" ng-model="business_phone" id="business_phone" name="FormBusinessPhone" required placeholder="Business phone number">
            </div>
            <button type="submit" ng-disabled="register.$invalid" class="btn btn-primary">Sign Up!</button>
        </form>
    </div>
    <div class="modal-footer">
        <input type="checkbox" ng-model="checked"> Don't have an account?
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>