.logo{
    display:block;
    margin:auto;
    margin-bottom: 25px;
}
.container-fluid {
    width:50%;
}

.mainform{
}

.buttonblocks{
    padding-top: 10px;
}

#result{
    margin-top: 10px;
    text-align: center;
}

html, body{
    background: url(img/pizza.jpg) no-repeat center fixed;
    background-size: cover;
}