<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Big Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-animate.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body ng-app="Navbar">
<div ng-controller="NavbarController">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed=true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" collapse="navCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#/orders">Orders</a></li>
                    <li><a href="#">Reports</a></li>
                    <!--<li class="dropdown" dropdown> <!-- cant believe dropdown and dropdown-toggle became a directive
                        <a href="#" class="dropdown-toggle" dropdown-toggle>Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" dropdown>
                        <a href="#" class="dropdown-toggle" dropdown-toggle><span
                                class="glyphicon glyphicon-user"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="open()">Log in</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a ng-click="addAlert()">Add Test Alert</a>
                            <li class="divider"></li>
                            <li><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9" ng-view></div> <!--main view-->
            <div class="col-sm-3">
                <div class="alertcontainer">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"
                           class="thealerts">
                        {{alert.msg}}
                    </alert>
                </div>
            </div>
        </div>
        <div ng-template></div> <!--modal view-->
    </div>
</div>
</body>
</html>